{% load static %}

<html>
    <head>
        <title>Blog App {% block title %}{% endblock title %}</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kwBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link href="{% static 'blog/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'blog/css/styles.css' %}" rel="stylesheet"> 
        <link href="{% static 'tinymce/css/prism.css' %}" rel="stylesheet"> 
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <h3 class="navbar-brand">GLOB</h3>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="#!">Contact</a></li>
                        <li class="nav-item"><a class="nav-link" href="#!">Login</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!--
        <header class="py-5 bg-light border-bottom mb-4">
            <div class="container">
                <div class="text-center my-5">
                    <h1 class="fw-bolder">Welcome to Glob!</h1>
                    <p class="lead mb-0">Your No. 1 blog in the world</p>
                </div>
            </div>
        </header>
        -->

        <main class="container my-3">

            <h2 class="my-3">
                {% if request.GET.q is not null %}
                    Search Results for "{{ request.GET.q }}"
                {% endif %}
            </h2>

            {% block content %}

            {% endblock content %}
        </main>

        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2022</p></div>
        </footer>
        <script src="{% static 'tinymce/css/prism.css' %}"></script>
        <script src="{% static 'blog/js/bootstrap.bundle.min.js' %}"></script>
    </body>
</html>
